@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  z-index: 0;
}

body[light-mode=dark] {
  background-color: #333333;
  color: #F7F7F7;
}

body[light-mode=dark] nav {
  background-color: #333333;
}

body[light-mode=dark] nav .nav-item-wrapper .nav-item-container a {
  color: #F7F7F7;
}

body[light-mode=dark] nav .burger span {
  background-color: #F7F7F7;
}

body[light-mode=dark] nav .nav-item-wrapper {
  background-color: #333333;
}

body[light-mode=dark] nav .slider:before {
  transform: translateX(calc(var(--switch_width) - var(--switch_height))) translateY(-0.2em);
}

body[light-mode=dark] nav .slider {
  background-color: var(--track_active_color);
}

body[light-mode=dark] nav .nav-item-wrapper .nav-item-container .add {
  background-color: rgb(136, 136, 136);
  color: #F7F7F7;
}

body {
  background-color: #F5D97E;
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

.pattern1 {
  position: absolute;
  top: 70px;
  left: 0;
  width: 41.8vw;
  height: 302px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2) 2px, transparent 2px), linear-gradient(to right, rgba(0, 0, 0, 0.2) 2px, transparent 2px);
  background-size: 50px 50px;
  background-color: rgba(255, 255, 255, 0);
}

.pattern2 {
  position: absolute;
  top: 300px;
  right: 0;
  width: 40vw;
  height: 302px;
  background-image: radial-gradient(rgba(0, 0, 0, 0.2) 5px, transparent 5px);
  background-size: 50px 50px;
  background-color: rgba(255, 255, 255, 0);
}

nav {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  width: 100%;
  height: 70px;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: #F5D97E;
  /* The switch - the box around the slider */
  /* Hide default HTML checkbox */
  /* The slider */
  /* Raise thumb when hovered */
  /* Raise thumb when hovered & checked */
}
nav .switch {
  /* Variables */
  --switch_width: 3em;
  --switch_height: 1.5em;
  --thumb_color: #e8e8e8;
  --track_color: #e8e8e8;
  --track_active_color: #888;
  --outline_color: #000;
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: var(--switch_width);
  height: var(--switch_height);
}
@media only screen and (max-width: 768px) {
  nav .switch {
    position: absolute;
    left: 20px;
  }
}
nav .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
nav .slider {
  box-sizing: border-box;
  border: 2px solid var(--outline_color);
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--track_color);
  transition: 0.15s;
  border-radius: var(--switch_height);
}
nav .slider:before {
  box-sizing: border-box;
  position: absolute;
  content: "";
  height: var(--switch_height);
  width: var(--switch_height);
  border: 2px solid var(--outline_color);
  border-radius: 100%;
  left: -2px;
  bottom: -2px;
  background-color: var(--thumb_color);
  transform: translateY(-0.2em);
  box-shadow: 0 0.2em 0 var(--outline_color);
  transition: 0.15s;
}
nav input:focus-visible + .slider {
  box-shadow: 0 0 0 2px var(--track_active_color);
}
nav input:hover + .slider:before {
  transform: translateY(-0.3em);
  box-shadow: 0 0.3em 0 var(--outline_color);
}
nav input:hover:checked + .slider:before {
  transform: translateX(calc(var(--switch_width) - var(--switch_height))) translateY(-0.3em);
  box-shadow: 0 0.3em 0 var(--outline_color);
}
nav .nav-item-wrapper .nav-item-container {
  display: grid;
  align-items: center;
  grid-template-columns: auto auto auto auto auto auto;
  -moz-column-gap: 10px;
       column-gap: 10px;
  font-family: "Inconsolata", monospace;
  font-size: 20px;
  font-weight: 600;
}
nav .nav-item-wrapper .nav-item-container a {
  color: black;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
nav .nav-item-wrapper .nav-item-container .add {
  background-color: #854836;
  color: #F7F7F7;
  border: 2px solid #000000;
}
@media only screen and (max-width: 768px) {
  nav .nav-item-wrapper .nav-item-container {
    padding: 10px;
    grid-template-columns: 1fr;
    row-gap: 10px;
    margin-top: 30px;
  }
}
@media only screen and (max-width: 768px) {
  nav .nav-item-wrapper {
    position: absolute;
    top: 0;
    left: -252px;
    background-color: #F7F7F7;
    height: 100vh;
    width: 250px;
    display: flex;
    flex-direction: column;
    text-align: center;
    transition: 0.2s ease-in-out;
    border-right: solid 2px #000000;
    z-index: 1;
  }
  nav .nav-button {
    display: block;
  }
}
nav .burger {
  position: relative;
  width: 40px;
  height: 30px;
  background: transparent;
  cursor: pointer;
  margin-right: 20px;
  display: none;
}
nav .burger input {
  display: none;
}
nav .burger span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: black;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.2s ease-in-out;
}
nav .burger span:nth-of-type(1) {
  top: 0px;
  transform-origin: left center;
}
nav .burger span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
  transform-origin: left center;
}
nav .burger span:nth-of-type(3) {
  top: 100%;
  transform-origin: left center;
  transform: translateY(-100%);
}
nav .burger input:checked ~ span:nth-of-type(1) {
  transform: rotate(45deg);
  top: 0px;
  left: 5px;
}
nav .burger input:checked ~ span:nth-of-type(2) {
  width: 0%;
  opacity: 0;
}
nav .burger input:checked ~ span:nth-of-type(3) {
  transform: rotate(-45deg);
  top: 28px;
  left: 5px;
}
@media only screen and (max-width: 768px) {
  nav .burger {
    display: block;
  }
}

@media only screen and (max-width: 768px) {
  nav {
    justify-content: flex-end;
  }
}
.content {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.content-child {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 80%;
  height: -moz-fit-content;
  height: fit-content;
  animation-duration: 1s;
  position: relative;
}
.content-child h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  text-align: center;
}
.content-child p {
  font-family: "Inconsolata", monospace;
  font-size: 20px;
  text-align: justify;
}
.content-child .content-header {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-bottom: 30px;
  margin-top: 10px;
  gap: 30px;
}
.content-child .content-header .img-header {
  display: flex;
  justify-content: center;
  width: 50%;
}
.content-child .content-header .img-header img {
  transition: 0.2s;
  width: 300px;
  height: 300px;
  cursor: pointer;
  border: solid 2px #000000;
  box-shadow: 10px 10px 0 0 #000000;
}
.content-child .content-header .img-header :hover {
  box-shadow: -10px -10px 0 0 #000000;
}
.content-child .content-header .socmed-container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}
.content-child .content-header .socmed-container a {
  padding: 10px;
  font-size: 40px;
  width: 45px;
  background-color: #F7F7F7;
  color: #000000;
  border: solid 2px #000000;
  box-shadow: 5px 5px 0 0 #000000;
  transition: 0.2s;
  cursor: pointer;
  text-align: center;
}
.content-child .content-header .socmed-container a:hover {
  box-shadow: -5px -5px 0 0 #000000;
}
.content-child .content-header .socmed-container .socmed-text {
  width: 100%;
  font-family: "Poppins", sans-serif;
  text-align: center;
}
@media only screen and (max-width: 768px) {
  .content-child .content-header .socmed-container {
    width: 100%;
  }
  .content-child .content-header .img-header {
    width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  .content-child .content-header {
    flex-direction: column;
  }
}
.content-child .my-logo {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.content-child .my-logo .logo-description {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 20px;
}
.content-child .my-logo .logo-description h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
}
.content-child .my-logo .logo-img {
  width: 50%;
  display: flex;
  justify-content: center;
}
.content-child .my-logo .logo-img img {
  width: 300px;
  height: 300px;
  transition: 0.2s;
  cursor: pointer;
  border: solid 2px #000000;
  box-shadow: 10px 10px 0 0 #000000;
}
.content-child .my-logo .logo-img :hover {
  box-shadow: -10px -10px 0 0 #000000;
}
@media only screen and (max-width: 768px) {
  .content-child .my-logo .logo-description {
    width: 100%;
    order: 2;
  }
  .content-child .my-logo .logo-img {
    width: 100%;
    order: 1;
  }
}
@media only screen and (max-width: 768px) {
  .content-child .my-logo {
    flex-direction: column;
    align-items: center;
  }
}
@media only screen and (max-width: 768px) {
  .content-child {
    width: 90%;
  }
}

footer {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inconsolata", monospace;
}/*# sourceMappingURL=index.css.map */