@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;500;600;700;800;900&display=swap');
*{
    padding: 0;
    margin: 0;
    z-index: 0;
}
$poppins-regular : 'Poppins', sans-serif;
$inconsolata : 'Inconsolata', monospace;
$primary-color :  #F5D97E;
$secondary-color :  #854836;
$third-color :  #F7F7F7;
$fourth-color :  #000000;

body{
    background-color: $primary-color;
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

nav{
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    width: 100%;
    height: 70px;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: #F5D97E;
    .nav-item-wrapper
    {
        .nav-item-container
        {
            display: grid;
            grid-template-columns:auto auto auto auto;
            column-gap: 30px;
            font-family: $inconsolata;
            font-size: 20px;
            font-weight: 600;
            a{
                color: black;
                text-decoration: none;
                cursor: pointer;
            }
            :hover{
                color: white;
            }
        }
        @media only screen and (max-width:768px)
        {
            .nav-item-container{
                padding: 10px;
                grid-template-columns: 1fr;
                row-gap: 50px;
                padding-top: 50px;
                a:hover{
                    color: #854836;
                }
            }
        }
    }
    @media only screen and (max-width:768px)
    {
        .nav-item-wrapper{
            position: absolute;
            top: 0;
            left: -250px;
            background-color: $third-color;
            height: 100vh;
            width: 250px;
            display: flex;
            flex-direction: column;
            text-align: center;
            transition: 0.5s;
            border-right: solid 2px $fourth-color;
        }
        
        .nav-item-wrapper-open{
            position: absolute;
            top: 0;
            left: 0px;
            background-color: $third-color;
            height: 100vh;
            width: 250px;
            display: flex;
            flex-direction: column;
            text-align: center;
        }

        .nav-button{
            display: block;
        }
    }
    .burger {
    position: relative;
    width: 40px;
    height: 30px;
    background: transparent;
    cursor: pointer;
    margin-right: 20px;
    display: none;
    }

    .burger input {
    display: none;
    }

    .burger span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: black;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
    }

    .burger span:nth-of-type(1) {
    top: 0px;
    transform-origin: left center;
    }

    .burger span:nth-of-type(2) {
    top: 50%;
    transform: translateY(-50%);
    transform-origin: left center;
    }

    .burger span:nth-of-type(3) {
    top: 100%;
    transform-origin: left center;
    transform: translateY(-100%);
    }

    .burger input:checked ~ span:nth-of-type(1) {
    transform: rotate(45deg);
    top: 0px;
    left: 5px;
    }

    .burger input:checked ~ span:nth-of-type(2) {
    width: 0%;
    opacity: 0;
    }

    .burger input:checked ~ span:nth-of-type(3) {
    transform: rotate(-45deg);
    top: 28px;
    left: 5px;
    }
    @media only screen and (max-width:768px)
    {
        .burger{
            display: block;
        }
    }
}

@media only screen and (max-width:768px)
{
    nav{
        justify-content: flex-end;
    }
}

.content{
    width: 100%;
    height: fit-content;
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
    &-child{
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 80%;
        height: fit-content;
        animation-duration: 1s;
        position: relative;
        h1{
            font-family: $poppins-regular;
            font-weight:900;
        }
        p{
            font-family: $inconsolata;
            font-size: 20px;
            text-align: justify;
        }
        .content-header
        {
            position: relative;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            margin-bottom: 20px;
            margin-top: 10px;
            gap: 30px;
            .img-header
            {
            display: flex;
            justify-content: center;
            width: 50%;
                img{
                    transition: 0.2s;
                    width: 300px;
                    height: 300px;
                    cursor: pointer;
                    border: solid 2px $fourth-color;
                    -webkit-box-shadow: 10px 10px 0 0 #000000;
                    -moz-box-shadow: 10px 10px 0 0 #000000;
                    box-shadow: 10px 10px 0 0 #000000;
                }
                :hover{
                    -webkit-box-shadow: -10px -10px 0 0 #000000;
                    -moz-box-shadow: -10px -10px 0 0 #000000;
                    box-shadow: -10px -10px 0 0 #000000;
                }
            }
            .socmed-container{
                width: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 25px;
                flex-wrap: wrap;
                i{
                    padding: 10px;
                    font-size: 40px;
                    background-color: $third-color;
                    border: solid 2px $fourth-color;
                    -webkit-box-shadow: 5px 5px 0 0 #000000;
                    -moz-box-shadow: 5px 5px 0 0 #000000;
                    box-shadow: 5px 5px 0 0 #000000;
                    transition: 0.2s;
                    cursor: pointer;
                }
                :hover{
                    -webkit-box-shadow: -5px -5px 0 0 #000000;
                    -moz-box-shadow: -5px -5px 0 0 #000000;
                    box-shadow: -5px -5px 0 0 #000000;
                }
            }
            @media only screen and (max-width:768px){
                .socmed-container{
                    width: 100%;
                }
                .img-header{
                    width: 100%;
                }
            }
        }
        @media only screen and (max-width:768px){
            .content-header{
                flex-direction: column;
            }
        }
    }
    @media only screen and (max-width:768px)
    {
        &-child{
            width: 90%;
        }
    }
}

footer{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $inconsolata;
}