@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;500;600;700;800;900&display=swap');
*{
    padding: 0;
    margin: 0;
}
$poppins-regular : 'Poppins', sans-serif;
$inconsolata : 'Inconsolata', monospace;
$primary-color :  #F5D97E;
$secondary-color :  #854836;
$third-color :  #F7F7F7;
$fourth-color :  #000000;

body[light-mode="dark"]{
    background-color: #333333;
}

body[light-mode="dark"] h1,
body[light-mode="dark"] h4{
    color: $third-color;
}

body[light-mode="dark"] .about-description,
body[light-mode="dark"] .logo-description{
    color: $third-color;
}

body[light-mode="dark"] nav{
    background-color: #333333;
}
body[light-mode="dark"]nav .nav-item-wrapper .nav-item-container a{
    color: $third-color;
}
body[light-mode="dark"]nav .burger span{
    background-color: $third-color;
}
body[light-mode="dark"]nav .nav-item-wrapper{
    background-color: #333333;
}

body[light-mode="dark"]nav .slider:before{
    transform: translateX(calc(var(--switch_width) - var(--switch_height))) translateY(-0.2em);
}

body[light-mode="dark"]nav .slider{
    background-color: var(--track_active_color);
}

body[light-mode="dark"]nav .nav-item-wrapper .nav-item-container .add{
    background-color: rgb(136 136 136);
    color: $third-color;
}

body{
    background-color: $primary-color;
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    -webkit-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}

nav{
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    width: 100%;
    height: 70px;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: #F5D97E;
    /* The switch - the box around the slider */
    .switch {
        /* Variables */
        --switch_width: 3em;
        --switch_height: 1.5em;
        --thumb_color: #e8e8e8;
        --track_color: #e8e8e8;
        --track_active_color: #888;
        --outline_color: #000;
        font-size: 17px;
        position: relative;
        display: inline-block;
        width: var(--switch_width);
        height: var(--switch_height);
    }
    @media only screen and (max-width:768px){
        .switch{
            position: absolute;
            left: 20px;
        }
    }
    /* Hide default HTML checkbox */
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }
    /* The slider */
    .slider {
        box-sizing: border-box;
        border: 2px solid var(--outline_color);
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: var(--track_color);
        transition: .15s;
        border-radius: var(--switch_height);
    }
    .slider:before {
        box-sizing: border-box;
        position: absolute;
        content: "";
        height: var(--switch_height);
        width: var(--switch_height);
        border: 2px solid var(--outline_color);
        border-radius: 100%;
        left: -2px;
        bottom: -2px;
        background-color: var(--thumb_color);
        transform: translateY(-0.2em);
        box-shadow: 0 0.2em 0 var(--outline_color);
        transition: .15s;
    }

    input:focus-visible + .slider {
        box-shadow: 0 0 0 2px var(--track_active_color);
    }
    /* Raise thumb when hovered */
    input:hover + .slider:before {
        transform: translateY(-0.3em);
        box-shadow: 0 0.3em 0 var(--outline_color);
    }
    /* Raise thumb when hovered & checked */
    input:hover:checked + .slider:before {
        transform: translateX(calc(var(--switch_width) - var(--switch_height))) translateY(-0.3em);
        box-shadow: 0 0.3em 0 var(--outline_color);
    }
    .nav-item-wrapper
    {
        .nav-item-container
        {
            display: grid;
            align-items: center;
            grid-template-columns:auto auto auto auto auto auto;
            column-gap: 10px;
            font-family: $inconsolata;
            font-size: 20px;
            font-weight: 600;
            a{
                color: black;
                text-decoration: none;
                cursor: pointer;
                position: relative;
                height: 45px;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 10px;
            }
            .add{
                background-color: #854836;
                color: $third-color;
                border:  2px solid #000000;
            }
        }
        @media only screen and (max-width:768px)
        {
            .nav-item-container{
                padding: 10px;
                grid-template-columns: 1fr;
                row-gap: 10px;
                margin-top: 30px;
            }
        }
    }
    @media only screen and (max-width:768px)
    {
        .nav-item-wrapper{
            position: absolute;
            top: 0;
            left: -252px;
            background-color: $third-color;
            height: 100vh;
            width: 250px;
            display: flex;
            flex-direction: column;
            text-align: center;
            transition: 0.2s ease-in-out;
            border-right: solid 2px $fourth-color;
            z-index: 1;
        }

        .nav-button{
            display: block;
        }
    }
    .burger {
    position: relative;
    width: 40px;
    height: 30px;
    background: transparent;
    cursor: pointer;
    margin-right: 20px;
    display: none;
    }

    .burger input {
    display: none;
    }

    .burger span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: black;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .2s ease-in-out;
    }

    .burger span:nth-of-type(1) {
    top: 0px;
    transform-origin: left center;
    }

    .burger span:nth-of-type(2) {
    top: 50%;
    transform: translateY(-50%);
    transform-origin: left center;
    }

    .burger span:nth-of-type(3) {
    top: 100%;
    transform-origin: left center;
    transform: translateY(-100%);
    }

    .burger input:checked ~ span:nth-of-type(1) {
    transform: rotate(45deg);
    top: 0px;
    left: 5px;
    }

    .burger input:checked ~ span:nth-of-type(2) {
    width: 0%;
    opacity: 0;
    }

    .burger input:checked ~ span:nth-of-type(3) {
    transform: rotate(-45deg);
    top: 28px;
    left: 5px;
    }
    @media only screen and (max-width:768px)
    {
        .burger{
            display: block;
        }
    }
}

@media only screen and (max-width:768px)
{
    nav{
        justify-content: flex-end;
    }
}

.content{
    width: 100%;
    height: fit-content;
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
    &-child{
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 80%;
        height: fit-content;
        animation-duration: 1s;
        position: relative;
        h1{
            font-family: $poppins-regular;
            font-weight:900;
            text-align: center;
        }
        p{
            font-family: $inconsolata;
            font-size: 20px;
            text-align: justify;
        }
        .content-header
        {
            position: relative;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            margin-bottom: 30px;
            margin-top: 10px;
            gap: 30px;
            .img-header
            {
            display: flex;
            justify-content: center;
            width: 50%;
                img{
                    transition: 0.2s;
                    width: 300px;
                    height: 300px;
                    cursor: pointer;
                    border: solid 2px $fourth-color;
                    -webkit-box-shadow: 10px 10px 0 0 #000000;
                    -moz-box-shadow: 10px 10px 0 0 #000000;
                    box-shadow: 10px 10px 0 0 #000000;
                }
                :hover{
                    -webkit-box-shadow: -10px -10px 0 0 #000000;
                    -moz-box-shadow: -10px -10px 0 0 #000000;
                    box-shadow: -10px -10px 0 0 #000000;
                }
            }
            .socmed-container{
                width: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 20px;
                flex-wrap: wrap;
                a{
                    padding: 10px;
                    font-size: 40px;
                    width: 45px;
                    background-color: $third-color;
                    color: $fourth-color;
                    border: solid 2px $fourth-color;
                    -webkit-box-shadow: 5px 5px 0 0 #000000;
                    -moz-box-shadow: 5px 5px 0 0 #000000;
                    box-shadow: 5px 5px 0 0 #000000;
                    transition: 0.2s;
                    cursor: pointer;
                    text-align: center;
                }
                a:hover{
                    -webkit-box-shadow: -5px -5px 0 0 #000000;
                    -moz-box-shadow: -5px -5px 0 0 #000000;
                    box-shadow: -5px -5px 0 0 #000000;
                }
                .socmed-text{
                    width: 100%;
                    font-family: $poppins-regular;
                    text-align: center;
                }
            }
            @media only screen and (max-width:768px){
                .socmed-container{
                    width: 100%;
                }
                .img-header{
                    width: 100%;
                }
            }
        }
        @media only screen and (max-width:768px){
            .content-header{
                flex-direction: column;
            }
        }
        .my-logo{
            width: 100%;
            display: flex;
            flex-direction: row;
            gap: 30px;
            margin-top: 10px;
            margin-bottom: 10px;
            .logo-description{
                width: 50%;
                display: flex;
                justify-content: center;
                flex-direction: column;
                font-size: 20px;
                h2{
                    font-family: $poppins-regular;
                    font-weight: 900;
                }
            }
            .logo-img{
                width: 50%;
                display: flex;
                justify-content: center;
                img{
                    width: 300px;
                    height: 300px;
                    transition: 0.2s;
                    cursor: pointer;
                    border: solid 2px $fourth-color;
                    -webkit-box-shadow: 10px 10px 0 0 #000000;
                    -moz-box-shadow: 10px 10px 0 0 #000000;
                    box-shadow: 10px 10px 0 0 #000000;
                }
                :hover{
                    -webkit-box-shadow: -10px -10px 0 0 #000000;
                    -moz-box-shadow: -10px -10px 0 0 #000000;
                    box-shadow: -10px -10px 0 0 #000000;
                }
            }
            @media only screen and (max-width:768px)
            {
                .logo-description{
                    width: 100%;
                    order: 2;
                }
                .logo-img{
                    width: 100%;
                    order: 1;
                }
            }
        }
        @media only screen and (max-width:768px)
        {
            .my-logo{
                flex-direction: column;
                align-items: center;
            }
        }

        .certificate-container{
            margin-top: 30px;
            margin-bottom: 10px;
            gap: 50px;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            .certificate-holder{
                cursor: pointer;
                transition: 0.2s;
                background-color: $third-color;
                padding: 20px;
                width: 250px;
                height: 320px;
                border: 2px solid $fourth-color;
                -webkit-box-shadow: 10px 10px 0 0 #000000;
                -moz-box-shadow: 10px 10px 0 0 #000000;
                box-shadow: 10px 10px 0 0 #000000;
                .certificate-img{
                    width: 100%;
                    img{
                        width: 100%;
                        border: 2px solid $fourth-color;
                    }
                }
                .certificate-description{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
                    .certificate-title{
                        font-family: $poppins-regular;
                        font-weight: 700;
                        text-align: left;
                    }
                }
            }
            .certificate-holder:hover{
                -webkit-box-shadow: -10px -10px 0 0 #000000;
                -moz-box-shadow: -10px -10px 0 0 #000000;
                box-shadow: -10px -10px 0 0 #000000;
            }
        }
    }
    @media only screen and (max-width:768px)
    {
        &-child{
            width: 90%;
        }
    }
}

footer{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $inconsolata;
}

/* MODAL IMAGE */
.modal-target {
    width: 300px;
    cursor: pointer;
}

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.8);
    /* Black w/ opacity */
    z-index: 1000000;
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 100vh;
    opacity: 1 !important;
    max-width: 1200px;
}

/* Caption of Modal Image */
.modal-caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 1200px;
    text-align: center;
    color: white;
    font-weight: 700;
    font-size: 1em;
    margin-top: 32px;
}

/* Add Animation */
/* The Close Button */
.modal-close {
    position: fixed;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.modal-close:hover,
.modal-close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (max-width: 720px) {
    .modal-content {
        width: 90%;
    }
}